/* Common Shared styles */
body {
    font-family: 'Merriweather', serif;
  }

/* nav related styles */
nav {
    display: flex;
    height: 300px; /* Adjust the height as needed */

    
}

.nav-image {
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../resources/Banner Image.png');
    border-radius: 16px;
    width: 1000px;
    height: 500px;
    margin: 15px 120px; 
    flex-shrink: 0;
    position: relative;
    background-size: cover; /* Add this line */
    background-position: center; /* Add this line */

}


.nav-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    
  }
.nav-para{
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;
    line-height: normal;
}
.nav-heading {
    width: 632px;
    color: #fff;
    text-align: center;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px; 

}
.main-title{
    color: #F00;
text-align: center;
font-family: Inter;
font-size: 88px;
font-style: normal;
font-weight: 700;
line-height: normal;
}